Repository XtApis/xt-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ignore-pattern 'build-separate.js' --ignore-pattern 'optimize-*.js', stylelint --allow-empty-input --fix, prettier --ignore-unknown --write

feat: 实现导航栏多语言切换
  website/docusaurus.config.ts
  website/docusaurus.config.zh-Hans.ts
Due: eslint --fix --ignore-pattern 'build-separate.js' --ignore-pattern 'optimize-*.js', prettier --ignore-unknown --write

Remove large backup files
  .gitignore.backup
Due: prettier --ignore-unknown --write

feat:futures link
  website/docusaurus.config.ts
Due: eslint --fix --ignore-pattern 'build-separate.js' --ignore-pattern 'optimize-*.js', prettier --ignore-unknown --write

UserWss
  website/docs/user-center/Referral Commission/getInviteAgentUserInfo.mdx
  website/docs/user-center/WebSocket Notice/base.mdx
  website/docs/user-center/WebSocket Notice/comAnnouncementEn.mdx
  website/docs/user-center/WebSocket Notice/heartBeat.mdx
  website/docs/user-center/WebSocket Notice/pushMessage.mdx
  website/docs/user-center/WebSocket Notice/requestFormat.mdx
  website/docs/user-center/WebSocket Notice/responseFormat.mdx
  website/docs/user-center/WebSocket Notice/subscribeParam.mdx
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/futures-copy/Access Description/_RestApi.mdx
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/spot/Access Description/apiBasicInfo.mdx
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/user-center/Referral Commission/getInviteAgentUserInfo.mdx
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/user-center/WebSocket Notice/base.mdx
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/user-center/WebSocket Notice/comAnnouncementEn.mdx
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/user-center/WebSocket Notice/heartBeat.mdx
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/user-center/WebSocket Notice/pushMessage.mdx
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/user-center/WebSocket Notice/requestFormat.mdx
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/user-center/WebSocket Notice/responseFormat.mdx
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/user-center/WebSocket Notice/subscribeParam.mdx
Due: prettier --ignore-unknown --write

feat:调整css 文字大小
  website/src/css/custom.css
Due: stylelint --allow-empty-input --fix, prettier --ignore-unknown --write

feat: 替换xtapi logo
  website/static/img/logo.svg
  website/static/img/xtlogo.png
Due: prettier --ignore-unknown --write

feat:替换新版本的logo
  website/static/img/docusaurus.ico
Due: prettier --ignore-unknown --write

update
  website/docs/copy-trading/Access Description/apiBasicInfo.mdx
  website/docs/futures/Order/Create Orders.mdx
  website/docs/futures/Order/Get open order list.mdx
  website/docs/futures/Order/See Order History.mdx
  website/docs/futures/Order/See Orders by ID.mdx
  website/docs/futures/Order/See Orders.mdx
  website/docs/futures/Order/See Transaction Details.mdx
  website/docs/futures/Order/_OrdersList.mdx
  website/docs/spot/Balance/balanceGet.mdx
  website/docs/spot/Balance/balancesGet.mdx
  website/docs/spot/Balance/currenciesGet.mdx
  website/docs/spot/Deposit&Withdrawal/withdraw.mdx
  website/docs/spot/Market/allTicker.mdx
  website/docusaurus.config.ts
  website/docusaurus.config.zh-Hans.ts
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/futures/Order/Create Orders.mdx
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/futures/Order/Get open order list.mdx
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/futures/Order/See Order History.mdx
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/futures/Order/See Orders by ID.mdx
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/futures/Order/See Orders.mdx
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/futures/Order/See Transaction Details.mdx
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/spot/Balance/balanceGet.mdx
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/spot/Balance/balancesGet.mdx
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/spot/Balance/currenciesGet.mdx
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/spot/Deposit&Withdrawal/withdraw.mdx
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/spot/Market/allTicker.mdx
  website/public/search-index.json
  website/static/js/product-dropdown.js
Due: eslint --fix --ignore-pattern 'build-separate.js' --ignore-pattern 'optimize-*.js', prettier --ignore-unknown --write

UseCenter
  website/docs/user-center/WebSocket Notice/responseFormat.mdx
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/user-center/WebSocket Notice/responseFormat.mdx
Due: prettier --ignore-unknown --write

UseCenter
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/user-center/WebSocket Notice/responseFormat.mdx
Due: prettier --ignore-unknown --write

UseCenter
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/user-center/Referral Commission/getAllUsersOfAffiliate.mdx
Due: prettier --ignore-unknown --write

UseCenter
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/user-center/ApiKey/queryUserApiKey.mdx
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/user-center/Referral Commission/getInviteAgentUserInfo.mdx
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/user-center/WebSocket Notice/base.mdx
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/user-center/WebSocket Notice/requestFormat.mdx
Due: prettier --ignore-unknown --write

feat: 修复顶部导航栏
  website/docusaurus.config.ts
Due: eslint --fix --ignore-pattern 'build-separate.js' --ignore-pattern 'optimize-*.js', prettier --ignore-unknown --write

feat:nav
  website/LOCAL_SEARCH_README.md
  website/TRANSLATION_GUIDE.md
  website/docs/changelog/index.mdx
  website/docs/spot/Transfer/transferPost.mdx
  website/docs/user-center.mdx
  website/docusaurus.config.ts
  website/docusaurus.config.zh-Hans.ts
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/changelog/index.mdx
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/futures/Quote collection/Get Futures Info.mdx
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/index_overview/overview.mdx
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/index_overview/resource.mdx
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/user-center.mdx
  website/i18n/zh-Hans/docusaurus-theme-classic/navbar.json
  website/public/search-index.json
  website/scripts/build-search-index.js
  website/scripts/translate-docs.js
  website/scripts/translate.js
  website/src/components/IndexMegaMenu.tsx
  website/static/js/product-dropdown.js
  website/translate_enhanced.py
Due: eslint --fix --ignore-pattern 'build-separate.js' --ignore-pattern 'optimize-*.js', prettier --ignore-unknown --write

futures add
  website/docs/futures/Order/Get open order list.mdx
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/futures/Order/Get open order list.mdx
Due: prettier --ignore-unknown --write

feat: 修改导航栏调整
  website/docusaurus.config.ts
  website/static/js/product-dropdown-i18n.js
  website/static/js/product-dropdown.js
Due: eslint --fix --ignore-pattern 'build-separate.js' --ignore-pattern 'optimize-*.js', prettier --ignore-unknown --write

feat: 更新链接及其多语言
  website/static/js/product-dropdown-i18n.js
  website/static/js/product-dropdown.js
Due: eslint --fix --ignore-pattern 'build-separate.js' --ignore-pattern 'optimize-*.js', prettier --ignore-unknown --write

feat: 更新README.md
  README.md
Due: prettier --ignore-unknown --write

feat: 更新README.md
  website/docusaurus.config.ts
Due: eslint --fix --ignore-pattern 'build-separate.js' --ignore-pattern 'optimize-*.js', prettier --ignore-unknown --write

feat:update future get
  website/docs/futures/Order/Get open order list.mdx
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/futures/Order/Get open order list.mdx
Due: prettier --ignore-unknown --write

feat: 新增支持多语言切换
  website/docusaurus.config.ts
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/advanced/ssg.mdx
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/api/plugins/overview.mdx
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/api/plugins/plugin-content-docs.mdx
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/api/themes/overview.mdx
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/api/themes/theme-configuration.mdx
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/copy-trading/Access Description/_RestApi.mdx
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/docusaurus-core.mdx
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/futures-copy/Access Description/_RestApi.mdx
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/futures/Access Description/_RestApi.mdx
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/futures/Access Description/_category_.json
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/futures/Entrust/_category_.json
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/futures/MarketData/_category_.json
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/futures/Order/_category_.json
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/futures/PythonPackage/_category_.json
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/futures/Quote collection/_category_.json
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/futures/User/_category_.json
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/futures/UserWebsocket/_category_.json
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/futures/WebsocKetV2/K-line.mdx
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/futures/WebsocKetV2/_category_.json
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/guides/creating-pages.mdx
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/guides/docs/docs-introduction.mdx
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/guides/docs/sidebar/autogenerated.mdx
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/margin-spot/Access Description/_restApi.mdx
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/migration/v3.mdx
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/seo.mdx
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/spot/Balance/_category_.json
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/spot/Deposit&Withdrawal/_category_.json
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/spot/Market/_category_.json
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/spot/Transfer/_category_.json
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/spot/WebSocket Public/_category_.json
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/spot/WebSocket Public/symbolKline.mdx
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/trading-third-party/Access Description/_RestApi_zh.mdx
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/user-center/Access Description/_RestApi_zh.mdx
  website/i18n/zh-Hans/docusaurus-theme-classic/navbar.json
  website/src/pages/index.tsx
  website/static/js/logo-i18n.js
  website/static/js/product-dropdown-i18n.js
  website/static/js/product-dropdown.js
Due: eslint --fix --ignore-pattern 'build-separate.js' --ignore-pattern 'optimize-*.js', prettier --ignore-unknown --write

feat:future user
  website/docs/futures/User/Change Position Type.mdx
  website/docs/futures/User/Get Margin Call Information.mdx
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/futures/User/Change Position Type.mdx
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/futures/User/Get Margin Call Information.mdx
Due: prettier --ignore-unknown --write

feat:futrue info
  website/docs/futures/User/Get User's Funds Information.mdx
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/futures/User/Get User's Funds Information.mdx
Due: prettier --ignore-unknown --write

feat:futrue user
  website/docs/futures/User/Alter the automatical margin call.mdx
  website/docs/futures/User/Get Account Related Information.mdx
  website/docs/futures/User/Get User's Funds Information.mdx
  website/docs/futures/User/Get contract account assets.mdx
  website/docusaurus.config.ts
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/futures/User/Adjust Leverage.mdx
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/futures/User/Alter Margin.mdx
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/futures/User/Alter the automatical margin call.mdx
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/futures/User/Cancel Trading Pair Collection.mdx
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/futures/User/Change Position Type.mdx
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/futures/User/Close All.mdx
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/futures/User/Collect Trading Pair.mdx
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/futures/User/Get ADL Information.mdx
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/futures/User/Get Account Related Information.mdx
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/futures/User/Get Fund Fee Information.mdx
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/futures/User/Get ListenKey.mdx
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/futures/User/Get Margin Call Information.mdx
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/futures/User/Get Position Information.mdx
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/futures/User/Get User's Account Flow Information.mdx
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/futures/User/Get User's Funds Information.mdx
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/futures/User/Get User's Single Currency Fund Information.mdx
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/futures/User/Get User's Step Rate.mdx
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/futures/User/Get active position information.mdx
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/futures/User/Get contract account assets.mdx
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/futures/User/List of Collected Trading Pairs.mdx
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/futures/User/Open Contract .mdx
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/futures/User/Open Contract.mdx
  website/src/components/IndexMegaMenu.tsx
  website/static/js/product-dropdown.js
Due: eslint --fix --ignore-pattern 'build-separate.js' --ignore-pattern 'optimize-*.js', prettier --ignore-unknown --write

feat: 侧边导航栏支持多语言切换完成
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current.json
Due: prettier --ignore-unknown --write

feat: 侧边导航栏支持多语言切换完成
  website/static/js/product-dropdown-i18n.js
Due: eslint --fix --ignore-pattern 'build-separate.js' --ignore-pattern 'optimize-*.js', prettier --ignore-unknown --write

chore: fix algolia index script lint errors
  website/docs/futures/User/Get ListenKey.mdx
  website/docs/futures/User/Get User's Funds Information.mdx
  website/docusaurus.config.ts
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/futures/User/Get ListenKey.mdx
  website/i18n/zh-Hans/docusaurus-plugin-content-docs/current/futures/User/Get User's Funds Information.mdx
  website/scripts/index-to-algolia.js
Due: eslint --fix --ignore-pattern 'build-separate.js' --ignore-pattern 'optimize-*.js', prettier --ignore-unknown --write

Path conditions:
  eslint --fix --ignore-pattern 'build-separate.js' --ignore-pattern 'optimize-*.js': any of: *.{js,jsx,ts,tsx,mjs}
  stylelint --allow-empty-input --fix: any of: *.css
  prettier --ignore-unknown --write: any of: *
